# Build Outputs
dist

# Local config
.env
.env.*
!.env.example

# Log
logs
*.log

# Dependencies
node_modules

# OS
.DS_Store

# IDE
.aider*
.claude/*
.claude-code-router/*
.codebuddy/*
.cursor/*
!.claude/skills/
!.claude/skills/**
.gemini/*
.idea/*
**/.idea/*
.qwen/*
.trae/*
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/mcp.json
!.vscode/settings.json
.zed/*
.bitfun/*
